<center>
<img src="https://media.giphy.com/media/ToMjGplHPoYqSg7oACc/giphy.gif" alt="" style="max-width: 500px" />
<a href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"></a>
</center>
<br>
<br>
<div class="col-md-4">
  <center>
  <a href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"></a>
  </center>


  <form class="col-md-12" action="/burger/add" method="POST">
    <div class="col-md-11 col-md-offset-1 text-center" style="margin-top:15px">
        <label for="burger" style="color: navy; font-family: 'Arial', sans-serif">Order Your Burger Now</label>
        <input type="text" id="burger" name="user_burger" required>
    </div>
  </form>
</div>

<div class="col-md-4">
  
  <center>
  <a href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">></a>
  </center>

  <div class="col-md-12 text-center">
      {{#each burger}}
        {{#unless this.devoured}}
          <form class="col-md-12" action="/burger/update/{{this.id}}?_method=PUT" method="POST">
          <div class="burger_name" style="font-size: 14pt; padding: 10px; color: arial; font-family: 'Arial', sans-serif" id="burger1">{{this.burger_name}}
          </div>
          <button class="btn btn-warning btn-xs" type="submit"><img src="https://media.giphy.com/media/ToMjGplHPoYqSg7oACc/giphy.gif" alt="" style="max-width: 50px" /></button>
          </form>
        {{/unless}}
      {{/each}}
  </div>
</div>

<div class="col-md-4">
  <center>
  <a href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"></a>
  </center>
  <div class="col-md-12 text-center">
    {{#each burger}}
      {{#if this.devoured}}
          <form class="col-md-12" action="/burger/delete/{{this.id}}?_method=PUT" method="POST">
          <div class="burger_name" style="font-size: 14pt; padding: 10px; color: navy; font-family: 'Arial', sans-serif">{{this.burger_name}}
          </div>
            <button class="btn btn-warning btn-xs" type="submit"><img src="https://media.giphy.com/media/ToMjGplHPoYqSg7oACc/giphy.gif" alt="" style="max-width: 50px" /></button>
          </form>
      {{/if}}
    {{/each}}
  </div>
</div>